<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="EkalW" verbose="1" >
    
<listeners>
	<listener class-name="com.ekalw.qa.analyzer.MyTransformer"></listener>
	<listener class-name="com.ekalw.qa.extentReporterListener.ExtentReportNG"></listener>
</listeners>

<test name="EkalW TestCasesPart1" >
	<classes>
		<class name="com.ekalw.qa.testcases.WelcomePageTest"/>   	
		<class name="com.ekalw.qa.testcases.SignInPageTest"/>
	</classes>    
</test>

<test name="EkalW TestCasesPart2" >
	<classes>
		<class name="com.ekalw.qa.testcases.DashBoardPageTest"/>                    
	</classes>
</test>
  
<test name="EkalW TestCasesPart3" >
	<classes>
		<class name="com.ekalw.qa.testcases.ClusterDetailsPageTest"/>
	</classes>
</test>

<test name="EkalW TestCasesPart4" >
	<classes>
		<class name="com.ekalw.qa.testcases.SchoolSummaryPageTest"/>
	</classes>
</test>

</suite>